certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
MouseInfo==0.1.3
PyAutoGUI==0.9.54
pybit==5.8.0
pycryptodome==3.20.0
PyGetWindow==0.0.9
Pygments==2.18.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pytweening==1.2.0
requests==2.32.3
rich==13.8.0
urllib3==2.2.2
websocket-client==1.8.0
